.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fihs {
     position: fixed;
  top: 20px;          /* distance from top */
  left: 50%;          /* move to middle horizontally */
  transform: translateX(-50%); /* perfectly center it */
  width: 1000px;
}